@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import "./src/styles/est-nav.css";
@import "./src/styles/est-register-btn.css";
@import "./src/styles/est-schedule.css";
@import "./src/styles/est-select.css";
@import "./src/styles/est-faq.css";
@import "./src/styles/est-footer.css";

:root {
    /* re-export colors for better semantics */
    --primary-color-1: black;
    --primary-color-2: black;
    --secondary-color-1: var(--color-2);
    --secondary-color-2: var(--color-3);
    --accent-color-1: var(--color-4);
    --accent-color-2: var(--color-5);
    --background-color: var(--color-1);
    --muted-color: black;

    /* fonts */
    --primary-font: Inter, sans-serif;
    --secondary-font: Roboto, sans-serif;
    
    /* gutters */
    --content-padding: var(--nav-height) 0px; 
    --content-margin: 0px 15%;

    /* nav */
    /* this variable is here and not in nav-bar.css because .content needs to use it */
    --nav-height: 60px;
}

body {
    margin: 0px;
    padding: 0px;
    background: var(--background-color);
    font-family: var(--secondary-font);
}

h1 {
    font-family: var(--primary-font);
    margin: 0px;
}

p {
    line-height: 1.75rem;
}

.tracks__track {
    display: flex;
    flex-direction: column;
    gap: 3vh;  
    height: 100%;
}

/* TODO remove this */
.temp-illo {
    background: grey;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
}

.splash-container {
    display: flex;
    height: calc(100vh - 120px);
}

.splash__item {
    width: 50%;
}

.splash__illo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash__main__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.splash__main__item > div {
    padding: 10px;
    text-align: center;
    width: 100%; 
}

.title {
    font-size: 4rem;
    font-weight: bold;
}

.quote {
    font-size: 2.5rem;
}

.date {
    font-size: 1.5rem;
}

.about-container-sentinel {
    overflow-x: hidden;
    padding: var(--content-margin);
}

.about-container {
    width: calc(200vw - 30%);
    height: calc(100vh - 180px);
    padding-top: 120px;
    display: flex;
}

.about-col-1 {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-col-1 > div {
    padding: 20px;
    margin: 20px;
}

.about-col-2 {
    width: 100%;
    padding-left: 5%;
}

.about-col-2__row-1 {
    display: flex;
    height: 80%;
}

.about-col-2__row-1__item {
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-col-2__row-1__item:last-child {
    padding-left: 0px;
    padding-right: 10%;
}

.about-col-2__row-2 {

}

.full-container {
    height: 100vh;    
}

.scroll-cue {
    position: absolute;
    bottom: 100px;
    opacity: 0;    
}

.scroll-cue-anim {
    animation: scroll-cue 2.5s ease-out forwards;
}

.new-experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-experience {
    text-align: center;
}

/* i'm bad at names ;( haha nah man don't worry I like all your names */
.center-row {
    margin-top: 10%;
    display: flex; 
    gap: 25%;
    height: 80%;    
}

.letter-title {
    font-size: 4rem;
}

.full-letter-container {    
    position: relative;
}

.illo1 {
    background-color: #999;
    position: absolute;
    left: 1%;
    top: 10%;
    width: 20%;
    height: 35%;
}

.illo2 {
    background-color: #999;
    height: 55%;
    width: 22%;
    position: absolute;
    right: 0;
    bottom: 0;    
}

.letter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 50%;
    margin: auto;
}

.text {
    margin-top: 5rem;
}

.text > p {
    font-size: 1rem;
    line-height: 1.2;
}

.farewell {
    margin-top: 10rem;        
    font-size: 2.5rem;
}

.letter__message {
    text-align: center;
    font-size: 1.5rem;    
}

.author {
    align-self: end;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 1.75rem;
}

@media (min-width: 901px) {}

@media (max-width: 900px) {
    .title {
        font-size: 3rem;
    }

    .quote {
        font-size: 2.5rem;
    }

    .date {
        font-size: 1.5rem;
    }

    .splash-container {
        flex-direction: column;
        justify-content: space-around;
    }

    .splash__item {
        height: 50%;
        width: 100%;
    }

    .splash__main__item {
        height: 50%;
    }

    .about-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    .about-col-1 {
        width: 100%;
    }

    .about-col-2__row-1 {
        display: flex;
        flex-direction: column;
        height: 80%;
    }

    .about-col-2__row-1__item {
        padding: 30px 0px;
    }
}

@keyframes scroll-cue {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0px);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
