@import url("https://p.typekit.net/p.css?s=1&k=ygj7eqw&ht=tk&f=14580.14581.14582.14583&a=10949164&app=typekit&e=css");

@font-face {
    font-family: "letter-gothic-std";
    src: url("https://use.typekit.net/af/28f823/000000000000000000012e1e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/28f823/000000000000000000012e1e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/28f823/000000000000000000012e1e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "letter-gothic-std";
    src: url("https://use.typekit.net/af/89fea7/000000000000000000012e1d/27/l?subset_id=2&fvd=i4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/89fea7/000000000000000000012e1d/27/d?subset_id=2&fvd=i4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/89fea7/000000000000000000012e1d/27/a?subset_id=2&fvd=i4&v=3")
            format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "letter-gothic-std";
    src: url("https://use.typekit.net/af/7676e3/000000000000000000012e1b/27/l?subset_id=2&fvd=n7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/7676e3/000000000000000000012e1b/27/d?subset_id=2&fvd=n7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/7676e3/000000000000000000012e1b/27/a?subset_id=2&fvd=n7&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "letter-gothic-std";
    src: url("https://use.typekit.net/af/cb8eed/000000000000000000012e1c/27/l?subset_id=2&fvd=i7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/cb8eed/000000000000000000012e1c/27/d?subset_id=2&fvd=i7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/cb8eed/000000000000000000012e1c/27/a?subset_id=2&fvd=i7&v=3")
            format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 900;
}

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */

@import "./src/styles/est-nav.css";
@import "./src/styles/est-register-btn.css";
@import "./src/styles/est-schedule.css";
@import "./src/styles/est-select.css";
@import "./src/styles/est-faq.css";
@import "./src/styles/est-footer.css";

:root {
    /* fonts */
    --primary-font: "letter-gothic-std", monospace;
    --secondary-font: "letter-gothic-std", monospace;

    /* gutters */
    --content-padding: var(--nav-height) 0px;
    --content-margin: 0%;
}

body {
    background: linear-gradient(
        0deg,
        rgba(142, 178, 135, 1) 0%,
        rgba(52, 142, 163, 1) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
}

#mlh-logo-container {
    position: absolute;
    top: 0px;
    left: 30px;
}

#mlh-logo-container img {
    height: 120px;
    width: 70px;
}

.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.splash__item {
}

.splash__item > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.splash__illo {
    height: 700px;
}

.splash__main {
    display: flex;
    flex-direction: column;
}

.date {
    font-size: 2rem;
    font-family: var(--primary-font);
    color: white;
    padding-bottom: 30px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #348ea3;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #888;
    border-radius: 50px;
    width: 40%; /* Could be more or less, depending on screen size */
}

#mc_embed_signup {
    background: #348ea3;
    clear: left;
    font: 14px var(--primary-font);
    font-weight: 600;
    margin-top: 10px;
    color: white;
}

.mc-field-group input,
.mc-field-group select {
    border-radius: 10px !important;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 5px;
}

.close-div {
    z-index: 100;
    padding-bottom: 20px;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 901px) {
}

@media (max-width: 900px) {
    .splash__illo {
        height: 500px;
    }

    .title {
        height: 200px;
    }

    .date {
        height: 1.75rem;
    }

    .modal-content {
        margin: 20px auto;
        width: 70%;
    }
}

@media (max-width: 600px) {
    #mlh-logo-container {
        display: none;
    }

    .splash__illo {
        height: 300px;
    }

    .title {
        height: 150px;
    }

    .date {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .splash__illo {
        height: 300px;
    }

    .title {
        height: 100px;
    }

    .date {
        font-size: 1rem;
    }
}
