@import url("https://p.typekit.net/p.css?s=1&k=ygj7eqw&ht=tk&f=14580.14581.14582.14583&a=10949164&app=typekit&e=css");

@font-face {
    font-family:"letter-gothic-std";
    src:url("https://use.typekit.net/af/28f823/000000000000000000012e1e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/28f823/000000000000000000012e1e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/28f823/000000000000000000012e1e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
    font-family:"letter-gothic-std";
    src:url("https://use.typekit.net/af/89fea7/000000000000000000012e1d/27/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/89fea7/000000000000000000012e1d/27/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/89fea7/000000000000000000012e1d/27/a?subset_id=2&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
    font-family:"letter-gothic-std";
    src:url("https://use.typekit.net/af/7676e3/000000000000000000012e1b/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/7676e3/000000000000000000012e1b/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/7676e3/000000000000000000012e1b/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:900;
}

@font-face {
    font-family:"letter-gothic-std";
    src:url("https://use.typekit.net/af/cb8eed/000000000000000000012e1c/27/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/cb8eed/000000000000000000012e1c/27/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/cb8eed/000000000000000000012e1c/27/a?subset_id=2&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:900;
}

@import "./src/styles/est-nav.css";
@import "./src/styles/est-register-btn.css";
@import "./src/styles/est-schedule.css";
@import "./src/styles/est-select.css";
@import "./src/styles/est-faq.css";
@import "./src/styles/est-footer.css";

:root {
    /* re-export colors for better semantics */
    --primary-color-1: white;
    --primary-color-2: white;
    --secondary-color-1: var(--color-2);
    --secondary-color-2: var(--color-3);
    --accent-color-1: var(--color-4);
    --accent-color-2: var(--color-5);
    --background-color: var(--color-1);
    --muted-color: white;

    /* fonts */
    --primary-font: "letter-gothic-std", monospace;
    --secondary-font: "letter-gothic-std", monospace;
    
    /* gutters */
    --content-padding: var(--nav-height) 0px; 
    --content-margin: 3% 15% 3% 0px;

}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(0deg, rgba(142,178,135,1) 0%, rgba(52,142,163,1) 100%), no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100vh-550px);
    width: 100vw;
}

h1 {
    font-family: var(--primary-font);
    margin: 0px;
}

p {
    line-height: 1.75rem;
}

#mlh-logo-container > a > img {
    height: 210px;
    width: 70px;
    margin-left: 20px;
    position: absolute;
}

.splash-container {
    display: flex;
    height: calc(100vh-550px);
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    width: 100vw;
}

.splash__item__2 {
    width: 30vw;
    /* margin-bottom: 15px; */
    margin-right: 20vw;
}

.splash__illo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -12vh;
}

.splash__main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.splash__main__item {
    display: flex;
    flex-direction: column;
    align-items: bottom;
    justify-content: bottom;
    padding: 15px;
    padding-top: 5px;
    width: 40vw;
}

.splash__item__2 .title > img {
    height: 27vh;
}

.splash__illo > img {
    height: 110vh;
    /* margin-left: 50px; */
    /* margin-bottom: 150px; */
}

.splash__main__item > div {
    padding: 5px;
    padding-left: 0px;
    text-align: center;
}

.date {
    font-size: 2rem;
    font-family: var(--primary-font);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #348ea3;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 50px;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  #mc_embed_signup {
      background:#348ea3;
      clear:left;
      font:14px var(--primary-font);
      font-weight: 600; 
      margin-top: 10px;
      color: white;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 5px;
  }

  .close-div {
      z-index: 100;
      padding-bottom: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  

@media (min-width: 901px) {}

@media (max-width: 900px) {
    #mlh-logo-container > a > img {
        height: 0;
    }
    
    .splash__item__2 .title > img {
        height: 18vh;
    }

    .splash__illo > img {
        height: 65vh;
        width: 60vw;
    }

    .splash__illo {
        margin-top: 10vh;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }

    .splash__item__2 .title {
        justify-content: center;
        align-items: center;
    }

    .splash__item__2 {
        width: 100vw;
    }

    .date {
        font-size: 1.3rem;
        font-family: var(--primary-font);
    }

    .splash-container {
        flex-direction: column;
        justify-content: space-around;
    }

    .splash__item {
        height: 30vh;
        width: 100vw;
    }

    .splash__main__item {
        width: 100vw;
        height: 20vh;
        margin-bottom: 2vh;
    }

    .modal-content {
        width: 70vw;
    }
}

@media (max-width: 800px) {
    #mlh-logo-container > a > img {
        height: 0;
    }
    
    .splash__illo {
        margin-top: 10vh;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }

    .splash-container {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .splash__illo > img {
        height: 60vh;
        width: 85vw;
    }

    .splash__item__2 {
        width: 100vw;
        margin-right: 0;
        padding-top: 0;
    }

    .splash__main__item {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 500px) {
    #mlh-logo-container > a > img {
        height: 0;
    }
    
    .splash-container {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .splash__item__2 .title > img {
        width: 100vw;
    }

    .splash__item__2 {
        width: 90vw;
        margin-top: 5vh;
        justify-content: center;
        align-items: center;
        margin-right: 2vw;
    }

    .splash__main__item {
        padding: 0;
    }

    .splash__illo > img {
        height: 50vh;
        width: 90vw;
    }

    .date {
        font-size: 0.8rem;
    }

    .splash__illo {
        margin-top: 5vh;
        align-items: center;
        justify-content: center;
        width: 90vw;
        margin-bottom: 0;
    }

    .modal-content {
        width: 70%;
    }
}
