.est-register-btn {
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    font-size: 1.25rem;
    font-family: var(--secondary-font);
    font-weight: 900;
    background: rgba(255, 255, 255, 0.3);
    border: 0px solid white;
    box-shadow: 0 0 10px 2px #eaeaea;
    cursor: pointer;
    transition: all 0.2s ease-out,
        filter 0.2s ease-in;
    color: white
}

button.est-register-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

button.est-register-btn:active {
    box-shadow: none;
}

