.est-register-btn {
    width: 50%;
    padding: 20px;
    border-radius: 50px;
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 900;
    background: rgb(53, 135, 117, 0.6);
    border: 0px solid white;
    box-shadow: 0 0 0 3px var(--color-5);
    cursor: pointer;
    transition: all 0.2s ease-out,
        filter 0.2s ease-in;
    margin-bottom: 50px;
    color: white
}

button.est-register-btn:hover {
    background: rgb(255, 255, 255, 0.8);
    /* color: #70ab9e; */
    color: rgb(53, 135, 117);
    border: 0px solid rgb(255, 255, 255, 0);
}

button.est-register-btn:active {
    border: 0px solid rgb(255, 255, 255, 0);
    padding: 12px;
    font-size: 1.15rem;
}

@media (max-width: 900px) {
    .est-register-btn {
        font-size: 1rem;
        width: 70%;
        margin-bottom: 5px;
    }
}

