.est-register-btn {
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    font-size: 1.25rem;
    font-family: var(--secondary-font);
    font-weight: 900;
    background: rgb(53, 135, 117, 0.6);
    border: 0px solid white;
    box-shadow: 0 0 0 3px var(--color-5);
    cursor: pointer;
    transition: all 0.2s ease-out,
        filter 0.2s ease-in;
    color: white
}

button.est-register-btn:hover {
    filter: brightness(1.25);
}

button.est-register-btn:active {
    border: 9px solid black;
    padding: 12px;
    font-size: 1.15rem;
}

